.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 3rem 0rem;
}
.maincorousel {
  padding-bottom: 2rem;
}
.cor {
  padding: 0rem 2.5rem;
}
