.container {
  display: flex;
  align-items: center;
  // justify-content: center;
  flex-direction: column;
  padding-top: 3rem;
  height: 90vh;
  position: relative;
  overflow: hidden;
  // background: linear-gradient(
  //   247deg,
  //   #0c111d 15.53%,
  //   #0c0625 61.79%,
  //   #1a0641 91.51%
  // );
  @include mobile {
    height: 90dvh;
    padding: 0rem 3rem;
    justify-content: center;

    form {
      width: unset !important;
    }
  }
  .circleSvg {
    position: absolute;
    bottom: 0;
    // height: 30rem;
    svg {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }

  .gradient {
    position: absolute;
    right: 0;
    animation: moveGradient 5s infinite alternate linear; /* Adjust the duration and timing function as needed */
    @include mobile {
      animation: none;
      bottom: 0;
      right: -20%;
      height: 10rem;
    }
    svg {
      opacity: 0.5;
      mix-blend-mode: screen;
    }
  }
}

@keyframes moveGradient {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(20px, -10px);
  }
  50% {
    transform: translate(0, 0);
  }
  75% {
    transform: translate(-0px, 10px);
  }
  100% {
    transform: translate(0, 0);
  }
}
